<section class="ranking">
  <h2 class="mt-5">{{ name }}</h2>
  <h4>{{ season }}</h4>
  <div class="form-group">
    <strong>Filtruj</strong>
    <input
      class="form-control"
      [(ngModel)]="filter"
      (blur)="blurEvent($event)"
    />
  </div>
  <div class="table-responsive mb-5">
    <table class="table">
      <thead>
        <tr>
          <th>Miejsce w rankingu</th>
          <th>Logo</th>
          <th>Punkty</th>
          <th>Skrót</th>
          <th>Nazwa klubu</th>
          <th>Wygrane mecze</th>
          <th>Zremisowane mecze</th>
          <th>Przegrane mecze</th>
          <th>Bramki strzelone</th>
          <th>Bramki stracone</th>
          <th>Różnica bramek strzelonych i straconych</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <img
              src="https://www.rekord.com.pl/images/layout/logo-bts.png"
              class="ranking--logo"
            />
          </td>
          <td>1000</td>
          <td>Rekord</td>
          <td>Rekord SI Sp. z o.o.</td>
          <td>100</td>
          <td>0</td>
          <td>0</td>
          <td>100</td>
          <td>0</td>
          <td>0</td>
        </tr>
        <tr *ngFor="let element of apiData">
          <td *ngIf="element.note; else elseBlock">
            {{ element.note.rank + 1 }}
          </td>
          <ng-template #elseBlock><td>X</td></ng-template>
          <td>
            <img src="{{ element.team.logos[0].href }}" class="ranking--logo" />
          </td>
          <td>{{ element.stats[2].value }}</td>
          <td>{{ element.team.shortDisplayName }}</td>
          <td>{{ element.team.name }}</td>
          <td>{{ element.stats[6].value }}</td>
          <td>{{ element.stats[5].value }}</td>
          <td>{{ element.stats[1].value }}</td>
          <td>{{ element.stats[4].value }}</td>
          <td>{{ element.stats[3].value }}</td>
          <td>{{ element.stats[4].value - element.stats[3].value }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
